.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote {
  margin: 0;
}

.cdx-quote__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  border: 0;
  border-radius: 0;
  cursor: text;
  margin-bottom: 0;
  padding: 33px 40px;
  background: #333333;
}

.cdx-quote__caption {
  background: #333333;
  border: 0;
  border-radius: 0;
  color: #fff;
  padding: 10px 40px;
}

.cdx-quote [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #fff;
  font-weight: normal;
  opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-quote-settings {
  display: flex;
}

.cdx-quote-settings .cdx-settings-button {
  width: 50%;
}
