.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote {
  margin: 0;
}

.cdx-quote__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  min-height: 158px;
  margin-bottom: 10px;
  border: 0;
  box-shadow: -2px 0 0 #333333; 
  border-radius: 0;
  cursor: text;
  margin-bottom: 0;
}


.cdx-quote__caption {
  display: none;
}

.cdx-quote [contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}


.cdx-quote-settings {
  display: flex;
}

.cdx-quote-settings .cdx-settings-button {
  width: 50%;
}
